.desktop-1,
.desktop-1 * {

}
.desktop-1 {
  background: #ffffff;
  height: 1293px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.registration {
  color: #000000;
  text-align: left;
  font-family: var(
    --h2-section-headers-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--h2-section-headers-font-size, 36px);
  font-weight: var(--h2-section-headers-font-weight, 400);
  position: absolute;
  left: 630px;
  top: 88px;
}
.merchandise {
  color: #000000;
  text-align: left;
  font-family: var(
    --h2-section-headers-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--h2-section-headers-font-size, 36px);
  font-weight: var(--h2-section-headers-font-weight, 400);
  position: absolute;
  left: 847px;
  top: 88px;
}
.schedule {
  color: #000000;
  text-align: left;
  font-family: var(
    --h2-section-headers-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--h2-section-headers-font-size, 36px);
  font-weight: var(--h2-section-headers-font-weight, 400);
  position: absolute;
  left: 1082px;
  top: 88px;
}
.rectangle-4 {
  background: #e21833;
  opacity: 0.5;
  width: 183px;
  height: 37px;
  position: absolute;
  left: 1241px;
  top: 73px;
}
.sign-in {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1308px;
  top: 81px;
  width: 187px;
  height: 37px;
}
.images-1 {
  width: 220px;
  height: 217px;
  position: absolute;
  left: 0px;
  top: 9px;
  object-fit: cover;
  aspect-ratio: 220/217;
}
.image-2 {
  width: 51px;
  height: 51px;
  position: absolute;
  left: 44px;
  top: 226px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image {
  width: 51px;
  height: 51px;
  position: absolute;
  left: 120px;
  top: 226px;
  object-fit: cover;
  aspect-ratio: 1;
}
.upcoming-game-umd-v-navy {
  color: #000000;
  text-align: left;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 532px;
  top: 647px;
}
.umd-club-rugby-membership-home {
  color: var(--accent, #000000);
  text-align: left;
  font-family: "BebasNeue-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 223px;
  top: 73px;
  width: 527px;
  height: 178px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.frame-1 {
  width: 1098px;
  height: 300px;
  position: absolute;
  left: calc(50% - 562px);
  top: 277px;
  overflow: hidden;
}
.image-5 {
  width: 275.09px;
  height: 300px;
  position: absolute;
  left: 158px;
  top: 277px;
  object-fit: cover;
  aspect-ratio: 275.09/300;
}
.image-6 {
  width: 272.38px;
  height: 300px;
  position: absolute;
  left: 433px;
  top: 277px;
  object-fit: cover;
  aspect-ratio: 272.38/300;
}
.image-7 {
  width: 274px;
  height: 300px;
  position: absolute;
  left: 705px;
  top: 277px;
  object-fit: cover;
  aspect-ratio: 274/300;
}
.image-8 {
  width: 277.35px;
  height: 300px;
  position: absolute;
  left: 979px;
  top: 277px;
  object-fit: cover;
  aspect-ratio: 277.35/300;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: var(--umd-red, #e21833);
  width: 250px;
  height: 100px;
  position: absolute;
  left: 308px;
  top: 785px;
}
.join-the-team {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --buttons-links-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--buttons-links-font-size, 36px);
  font-weight: var(--buttons-links-font-weight, 400);
  position: absolute;
  left: 316px;
  top: 813px;
  width: 233px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  background: var(--umd-red, #e21833);
  width: 250px;
  height: 100px;
  position: absolute;
  left: 854px;
  top: 785px;
}
.spring-2025-schedule {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --buttons-links-font-family,
    "BebasNeue-Regular",
    sans-serif
  );
  font-size: var(--buttons-links-font-size, 36px);
  font-weight: var(--buttons-links-font-weight, 400);
  position: absolute;
  left: 862px;
  top: 813px;
  width: 233px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-9 {
  width: 478px;
  height: 315px;
  position: absolute;
  left: 9px;
  top: 1002px;
  object-fit: cover;
  aspect-ratio: 478/315;
}
.image-10 {
  width: 478px;
  height: 315px;
  position: absolute;
  left: 924px;
  top: 1002px;
  object-fit: cover;
  aspect-ratio: 478/315;
}
